.divider {
     border-left:1px solid #38546d; 
    
     height:80px;
    
     right:249px;
     top:10px; 
}

#left {
    float: left;
    width: 60%;
}

.image {
	padding-top: 10px;
    padding-left: 50px;
    width: 80%;
    height: 85%;
}

#right {
    padding-top: 10px;
    padding-right: 15px;
    float: right;
    width: 40%;
}